<div class="header-container">
  <header>
    <ul class="nav">
      <!--Change the  URL here if working on an absolute domain-->
      <span style="text-align: left; float: left; margin-left: 20px; font-size: larger; color: black;"><a style="color: black;" href="/"><span class="mega-octicon octicon-terminal" style="margin-right: 6px;"></span>{{ site.name }}</a></span>
      {% if site.owner.linkedin %}<li><a href=" {{ site.owner.linkedin }} "><span class="mega-octicon octicon-person" style="margin-right: 6px;"></span>About Me</a></li>{% endif %}
      {% if site.owner.github %}<li><a href="{{ site.owner.github }}"><span class="mega-octicon octicon-mark-github" style="margin-right: 6px;"></span>Follow Me @ Github</a></li>{% endif %}
    </ul>
  </header>
</div>
